.text-centered{
    text-align: center;
}

.header{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    font-size: 7rem;
}

.title{
    font-size: 30rem;
    padding-top: 20rem;
}

.subTitle{
    font-size: 3rem;
    padding-bottom:25rem;;
}
 