.text-centered{
    text-align: center;
}

header{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    font-size: 7rem;
}

.profileImgContainer{
  margin-left:auto;
  margin-right:auto;
}

.profile_img{
    height: 300px;
    width: 300px;
}

.heroTitle{
    font-size: 30rem;
    padding-top: 20rem;
}

.subtitle{
    font-size: 3rem;
    padding-bottom:5rem;;
}

.hero-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heroTitle{
  font-size: 5rem;
}

#heroSubtitle {
  font-size: 1.75rem;
}