.interestsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 300rem;
    font-size: 1rem;
}

/* .card-image{
  width:100px;
  height:100px;
} */

