.interestsTitle{
  font-size: 3rem;
  font-weight:600;
  padding-top: 1.5rem;
  text-align: center;
  position: relative;
  top: 0px;
  }

.interestsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 300rem;
    font-size: 1rem;
}

.card-image{
  display:flex;
}

.image{
  width:100% ;
  height: auto;
  margin-bottom: auto;
}
