.headTitle{
    font-size: 40px;
    padding: 20px;
}

.subHeading{
    margin-top: 20px;
    margin-bottom: 10px;
}

.contactLink{
    text-decoration: none;
    color: black;
}

.contactLink:hover{
    color: blueviolet;
}

.profileImg{
    right: auto;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.skillsList li {
    flex: 1 0 50%;
    padding: 10px;
    box-sizing: border-box;
}
