.projectHolder{
    text-align: center;
}

.projectTitle{
    display:flex ;
    align-items: start;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
}
.card{
    border-radius: 15px;
    margin-bottom: 20px;
}

.projectBtn{
    margin-left: 20px;
}

.imgHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImg{
    padding: 15px;
    height: 400px;
    width: 100%;
}