.projectHolder{
    text-align: center;
}

.projectTitle{
    display:flex ;
    align-items: start;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
}
.card{
    border-radius: 15px;
    margin-bottom: 20px;
}

.card-img-top{
    padding: 15px;
}

.projectBtn{
    margin-left: 20px;
}

.projectImg{
    width: 200px;
    height: 400px;
}